[Unit]
Description=Rust Surl Service

[Service]
ExecStart=/root/pro/surl/dist/surl
WorkingDirectory=/root/pro/surl
Environment=RUST_LOG=info
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
